.container {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  margin-top: calc(50vh - 100px);

  .prev, .next {
    font-size: 4em;
    margin: auto 15px;
  }

  .blocks {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;

    .child {
      display: flex;
      position: relative;
      width: 75px;
      height: 75px;
      margin: auto 5px;
      border: 3px solid #3E6FB5;
      box-sizing: border-box;
      justify-content: center;
      align-items: center;
      background-color: #F19A5D;
      color: #fff;
    }
  }
}
